@tailwind base;
@tailwind components;
@tailwind utilities;


.outline-text {
    color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  }